OAuth2Login.Configuration/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:OAuth2Login.Configuration" elementFormDefault="qualified" targetNamespace="urn:OAuth2Login.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="oAuth2LoginConfig" type="tns:OAuth2Login.Configuration.OAuth2LoginConfigCT" />
	<xs:complexType name="OAuth2Login.Configuration.OAuth2LoginConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="web" type="tns:OAuth2Login.Configuration.WebConfigurationCT">
				<xs:annotation>
					<xs:documentation>The Web.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="oauth" type="tns:OAuth2Login.Configuration.OAuthCT">
				<xs:annotation>
					<xs:documentation>The OAuth.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OAuth2Login.Configuration.WebConfigurationCT">
		<xs:attribute name="acceptedRedirectUrl" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AcceptedRedirectUrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="failedRedirectUrl" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The FailedRedirectUrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="proxy" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Proxy.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="OAuth2Login.Configuration.OAuthCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="app" type="tns:OAuth2Login.Configuration.OAuthConfigCT">
				<xs:annotation>
					<xs:documentation>The OAuthConfig Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OAuth2Login.Configuration.OAuthSettingsConfigCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="clientid" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ClientId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="clientsecret" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ClientSecret.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="callbackUrl" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CallbackUrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="scope" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Scope.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="endpoint" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Endpoint.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="OAuth2Login.Configuration.OAuthConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="oAuthSettings" type="tns:OAuth2Login.Configuration.OAuthSettingsCT">
				<xs:annotation>
					<xs:documentation>The OAuthSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="OAuth2Login.Configuration.OAuthSettingsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:OAuth2Login.Configuration.OAuthSettingsConfigCT">
				<xs:annotation>
					<xs:documentation>The OAuthSettingsConfig Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
